@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
#image-list::-webkit-scrollbar {
  display: none;
}

.horizontal-line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: gray;
  bottom: -20px;
}
